body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea img{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
}
input{
	outline: none;
}
img{
	display: block;
}
body{
	/*position: relative;*/
	font-family: "微软雅黑";
}
ul,li{
	list-style: none;
}

/*header*/
header{
	height:660px;
	background: url(../img/sell-bg.290289564e5360959be1857de09bf8c4.jpg) no-repeat center top;
}
header #head{
	height:660px;
}
header #head img{
	width:auto;
	height:416px;
}

header .title img{
	width:64px;
	height:64px;
}
header .title{
	position: absolute;
	left:112px;
	top:0px;
}
.title #uls{
	overflow-y: auto;
	width:767px;
	height:386px;
	background:#fff;
	border:1px solid #e6e6e6;	
	border-top:none;
	padding-top:18px;
	position: absolute;
	left:79px;
	top:52px;
	z-index: 2;
	display: none;
}
.title #uls ul{
	white-space: wrap;
	overflow:hidden;
	height:56px;
	border-bottom: 1px dashed #e6e6e6;
}
.title #uls ul:first-child{
	border-bottom: 1px solid #e6e6e6;
}
.title #uls li a{
	float: left;
	font-size:14px;
	line-height: 56px;
	color:#495056;
	margin-left: 12px;
	margin-right:12px;
}
.title #uls li a:hover{
	color:#22ac38;
}
.title #uls .re1{
	float: left;
	color:#22ac38;
	font-size:14px;
	line-height: 56px;
	margin-left: 17px;
	margin-right:12px;
}
.title #uls .re{
	float: left;
	font-size:14px;
	line-height: 56px;
	margin-left: 17px;
	margin-right:12px;
}
.title a{
	color: #fff;
	font-size: 14px;
	float: left;
	margin-right: 53px;
	line-height: 52px;
	margin-top:11px;
}
.title a:nth-of-type(1){
	margin:0;
}
.title #deng{
	margin-right: 20px;
}
.title #huabj{
	overflow: hidden;
	width:73px;
	height:34px;
	margin:21px 172px 0 15px;
	float: left;
	text-align: center;
}
.title #bj{
	color:#fff;
	font-size: 14px;
	width:73px;
	height:34px;
	line-height:34px;
	cursor:pointer;
}
.title a:hover{
	color: #39b34c;
}
.title .denglu{
	/*background: url(img/denglu.png) no-repeat left center;
	background-position: 0px 0px;*/
}
.title .span{
	display: block;
	color: #fff;
	margin-top:29px;
	float: right;
	font-size: 23px;
	line-height: 15px;
	font-weight: 600;
	border-left: 1px solid #fff;
	padding-left:25px;
}

/*position*/
.position{
	width:1200px;
	margin:0 auto;
	position:absolute;
	left:112px;
	top:64px;
}
/*up*/
.position .up{
	width:1200px;
	height:279px;
	padding-top:72px;
}
.position .up .up_up{
	overflow: hidden;
	margin-top: 54px;
	margin-bottom: 35px;
	padding-left:225px;
}
.position .up h2{
	font-size:44px;
	color: #fff;
	font-weight: 100;
	text-align: center;
}
.position .up input{
	width:438px;
	height: 56px;
	font-size: 18px;
	color: #d8d7e0;
	text-indent:14px;
	float: left;
	border:none;
	margin:0 auto;
}
.position .up .a1{
	float:left;
	width:148px;
	height:56px;
	color: #fff;
	font-size: 20px;
	background: #22ac38;
	text-align: center;
	line-height: 56px;
	margin-right: 15px;
}
.position .up .a2{
	float:left;
	width:148px;
	height:56px;
	color: #fff;
	font-size: 20px;
	background: #66c675;
	text-align: center;
	line-height: 56px;
}
.position .up .a1:hover,.position .up .a2:hover{
	background: #179500;
}
.position .up .up_a3{
	width:389px;
	height:25px;
	margin:0 auto;
	background: url(../img/icon.4cc0b104c88b9d992a15d4cf86eab6a9.png) no-repeat left top;
	background-position:-400px -130px;
	padding-left:34px;
}
.position .up .a3{
	float: left;
	font-size: 18px;
	color:#fff;
}
.position .up .a3:hover{
	color:#22ac38;
}
/*middle*/
.position .middle{
	width:1200px;
	height:399px;
	background: #fff;
	padding-top:61px;
}
.position .middle h3{
	font-size: 30px;
	font-weight: 100;
	color:#22ac38;
	text-align: center;
}
.position .middle p{
	font-size: 16px;
	color:#7a838d;
	text-align: center;
	margin-top:15px;
}
.position .middle .ul{
	overflow: hidden;
	width:1086px;
	margin:0 auto;
}
.position .middle .li{
	width: 362px;
    height: 255px;
    float: left;
    margin-top:23px;
}
.position .middle .li img{
	margin:0 auto;
}
.position .middle .li .lnck{
	font-size: 20px;
	color:#373b3f;
	line-height: 38px;
}
.position .middle .li .dtzc{
	font-size: 16px;
	color:#7a838d;
	line-height: 26px;
}
.position .middle a{
	display: block;
	width: 110px;
    height: 24px;
	font-size: 14px;
	color:#22ac38;
    line-height: 24px;
	margin: 0 auto;
}
.position .middle a:hover{
	text-decoration: underline;
}
.position .middle a i{
	float: right;
	width:14px;
	height:24px;
	background: url(../img/lvjt.png) no-repeat center;
}
/*down*/
.position .down{
	width:1200px;
	height: 509px;
	background:#fff;
	padding-top:33px;
}
.position .down h4{
	font-size: 24px;
	color:#49506b;
	font-weight: 100;
	margin-bottom: 40px;
	line-height: 48px;
	text-align: center;
	background: url(../img/lvbj.png) no-repeat center bottom;
}
.down ul{
	overflow: hidden;
}
.down li{
	width:285px;
	background: #fff;
	float: left;
	margin-right: 20px;
	padding-bottom: 25px;
	position: relative;
}
.down li .tt{
	padding:0 20px;
}
.down li:nth-of-type(4n){
	margin-right: 0;
}
.down li img{
	width:285px;
	height:190px;
}
.down li h5{
	font-size: 16px;
	line-height: 16px;
	font-weight: 100;
	color:#495056;
	margin-top: 24px;
	margin-bottom: 15px;
	position: relative;
}
.down li p{
	font-size: 14px;
	line-height: 14px;
	color:#a5abb2;
	margin-bottom: 14px;
}
.down li span{
	font-size:14px;
	color:#495056;
}
.down li span i{
	font-size: 16px;
	line-height: 16px;
	color:#f95523;
	font-style: normal;
}
.down li span:nth-of-type(1) i{
	font-size: 20px;
}
.down li .gdimg{
	width:61px;
	height: 67px;
	background: url(../img/icon.4cc0b104c88b9d992a15d4cf86eab6a9.png);
	background-position:-330px -131px;
	position: absolute;
	right: 10px;
	top:-5px;
	text-align: center;
}
.down li .gdimg p{
	font-size: 24px;
	color:#fff;
	margin-top:10px;
	margin-bottom: 8px;
}
.down li .gdimg span{
	font-size: 14px;
	color: #fff;
}
.down a{
	display: block;
	width:168px;
	height: 40px;
	background: #22ac38;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin:33px auto 5px;
}
.down a:hover{
	background: #179500;
}

/*ask*/
.ask{
	margin-top:774px;
	background: #f8f8f8;
	overflow: hidden;
}
.ask .sask{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
	padding-bottom: 35px;
}
.ask .sask h4{
	font-size: 24px;
	color:#49506b;
	font-weight: 100;
	margin-top:33px;
	margin-bottom: 40px;
	line-height: 48px;
	text-align: center;
	background: url(../img/lvbj.png) no-repeat center bottom;
}
.ask .sask li{
	width:500px;
	height:190px;
	overflow: hidden;
	margin-left:35px;
	margin-right: 60px;
	float: left;
}
.ask .sask li .toux{
	width:60px;
	height: 60px;
	background: url(../img/icon.4cc0b104c88b9d992a15d4cf86eab6a9.png);
	background-position:-130px -220px;
	float: left;
	margin-right: 15px;
}
.ask .sask li:nth-of-type(2) .toux{
	background-position:-190px -220px;
}
.ask .sask li:nth-of-type(3) .toux{
	background-position:-250px -220px;
}
.ask .sask li:nth-of-type(4) .toux{
	background-position:-310px -220px;
}
.ask .sask li .qust{
	width:244px;
	height:36px;
	background: #ebebeb;
	border-radius: 4px;
	font-size: 16px;
	color:#495056;
	line-height: 36px;
	text-align: center;
	float: left;
	position: relative;
	margin-bottom: 10px;
	margin-top:13px;
}
.ask .sask li .qust i{
	float: left;
	width:0;
	height:0;
	border:5px solid transparent;
	border-right-color:#ebebeb;
	position: absolute;
	left:-10px;
	top:13px;
}
.ask .sask li .answer{
	width:425px;
	float: left;
	line-height: 30px;
	font-size: 14px;
	color: #a5abb2;
}



/*footer*/
footer{
	background: #2a2c37;
	padding-top: 50px;
	padding-bottom: 32px;
	overflow: hidden;
}
footer .up{
	overflow: hidden;
}
footer .toum{
	margin-left: 153px;
	width:110px;
	height:90px;
	background: url(../img/global-3.bddc7dbcd1b47bf88946900826c9abf1.png);
	background-position: right 235px;
	float:left;
}
footer .zi1{
	float:left;
	padding-left:30px;
	
	line-height: 23px;
}
footer .zi1 p:nth-of-type(2){
	margin-bottom: 16px;
}
footer .zi1 p{
	font-size: 12px;
	color:#b8b8b8;
}
footer .zi1 p span{
	font-size: 13px;
	margin-right: 22px;
}
footer .vx img{
	width:85px;
	height:85px;
	margin-bottom:6px;
}
footer .app img{
	width:85px;
	height:85px;
	margin-bottom:6px;
}
footer .vx{
	float: left;
	margin-right: 30px;
	text-align: center;
	margin-left: 20px;
}
footer .app{
	float: left;
	text-align: center;
}
footer .vx span,footer .app span{
	font-size: 14px;
	color:#b8b8b8;
}
footer .zi2{
	float: left;
	padding-left: 49px;
	width:420px;
}
footer .zi2 a{
	font-size: 14px;
	color:#b8b8b8;
	margin-right: 10px;
	line-height: 22px;
}
footer .zi2 a:hover{
	text-decoration:underline;
}
footer .zi2 a:last-child img{
	wiath:18px;
	height:20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
footer .zi2 a:last-child{	
	color: #939393;
}
footer .zi2 p{
	font-size: 12px;
	color:#b8b8b8;
	line-height: 18px;
}
footer .zi2 .p1{
	margin-top: 13px;
}
footer .zi2 .p2{
	margin-bottom: 11px;
}
footer .zi2 a:last-child:hover{
	text-decoration: none;
}
footer .rem:first-of-type{
	margin-top: 47px;
}
footer .rem:last-of-type{
	margin-bottom: 33px;
}
footer .rem{
	line-height: 28px;
}
footer .rem span{
	font-size: 16px;
	color:#576660;
	margin-left: 117px;
}
footer .rem a{
	font-size: 12px;
	color:#576660;
	margin-right: 20px;
}
footer .rem a:hover{	
	text-decoration: underline;
}
footer .foot{
	width:861px;
	margin:31px auto 0;
	font-size: 12px;
	color:#576660;
}
footer .foot span:nth-of-type(2){
	margin:0 40px;
}


/*fixed*/
.fix{
	width:40px;
	height:100%;
	background:#2a2c37;
	position: fixed;
	right:0px;
	top:0px;
}
.fix .fix1,.fix .fix2,.fix .fix3,.fix .fix4,.fix .fix5,.fix .fix6{
	width:40px;
	height:40px;
	background: url(../img/side-bar@2x.3cde37b723751598f4a9f2d8e95a43f7.png) no-repeat left top;
	background-size:250px 370px;
	cursor:pointer;
}
.fix .fix1{
	background-position: -53px 6px;
	margin-top:245px;
}
.fix .fix2{
	background-position: -53px -38px;
}
.fix .fix3{
	background-position: -53px -126px;
}
.fix .fix4{
	background-position: -53px -80px;
}

.fix .fix5{
	background-position: -53px -174px;
}
.fix .fix6{
	background-position: -53px -213px;
}
#bigfix5{
	
}
.fix .fix1:hover{
	background-color: #3f4251;
	background-position: 9.5px 6px;
}
.fix .fix2:hover{
	background-color: #3f4251;
	background-position: 9.5px -38px;
}
.fix .fix3:hover{
	background-color: #3f4251;
	background-position: 9.5px -126px;
}
.fix .fix4:hover{
	background-color: #3f4251;
	background-position: 9.5px -80px;
}
.fix .fix5:hover{
	background-color: #3f4251;
	background-position: 9.5px -174px;
}
.fix .fix6:hover{
	background-color: #3f4251;
	background-position: 9.5px -213px;
}

.fix .download1{
	width:240px;
	height:209px;
	background: #fff;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right:60px;
	top:165px;
	display: none;
}
.fix .download2{
	width:240px;
	height:209px;
	background: #fff;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right:60px;
	top:205px;
	display: none;
}
.fix .download1 img,.fix .download2 img{
	width:112px;
	height:112px;
	margin:30px auto 20px;
}
.fix span{
	font-size: 14px;
	color:#495056;
}
.fix .yjfk{
	width:136px;
	height:55px;
	background: #fff;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right:60px;
	top:328px;
	display: none;
}
.fix .yjfk span{
	line-height: 55px;
}
.fix .mfzx{
	width:264px;
	height:50px;
	background: #fff;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right:60px;
	top:358px;
	display: none;
}
.fix .mfzx span{
	line-height: 50px;
}
.fix .see{
	width:626px;
	height:565px;
	background: #f5f5f7;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	padding-top:35px;
	padding-left:25px;
	z-index: 2;
	position: absolute;
	right:60px;
	bottom:117px;
	display: none;
}
.fix .see h4{
	font-size: 20px;
	color:#495056;
	font-weight: 100;
	margin-bottom: 25px;
}
.see .li{
	width:285px;
	background: #fff;
	float: left;
	margin-right: 20px;
	padding-bottom: 25px;
	position: relative;
}
.see .li .tt{
	padding:0 20px;
}
.see .li:nth-of-type(4n){
	margin-right: 0;
}
.see .li img{
	width:285px;
	height:190px;
}
.see .li h5{
	font-size: 16px;
	line-height: 16px;
	font-weight: 100;
	color:#495056;
	margin-top: 24px;
	margin-bottom: 15px;
}
.see .li p{
	font-size: 14px;
	line-height: 14px;
	color:#a5abb2;
	margin-bottom: 14px;
}
.see .li span:nth-of-type(1){
	font-size: 16px;
	line-height: 16px;
	color:#f95523;
}
.see .li span:nth-of-type(2){
	font-size:14px;
	color:#a5abb2;
	text-decoration: line-through;
}
.see .mengb{
	width:290px;
	height:194px;
	background: black;
	opacity: .5;
	position: absolute;
	left:0px;
	top:0px;
}