body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea img{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
input{
	outline: none;
}
img{
	display: block;
}
body{
	/*position: relative;*/
	font-family: "微软雅黑";
}
ul,li{
	list-style: none;
}

/*header*/
header{
	width: 100%;
	background: #fcfcfc;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: 0px -3px 10px 3px #e6e6e6;
	
}
header .title img{
	width:64px;
	height:64px;
}
header .title{
	width:1200px;
	height:64px;
	margin:0 auto;
}
.title #uls{
	overflow-y: auto;
	width:767px;
	height:386px;
	background:#fff;
	border:1px solid #e6e6e6;
	border-top:none;
	padding-top:18px;
	position: absolute;
	left:191px;
	top:52px;
	z-index: 2;
	display: none;
}
.title #uls ul{
	white-space: wrap;
	overflow:hidden;
	height:56px;
	border-bottom: 1px dashed #e6e6e6;
}
.title #uls ul:first-child{
	border-bottom: 1px solid #e6e6e6;
}
.title #uls li a{
	float: left;
	font-size:14px;
	line-height: 56px;
	color:#495056;
	margin-left: 12px;
	margin-right:12px;
}
.title #uls li a:hover{
	color:#22ac38;
}
.title #uls .re1{
	float: left;
	color:#22ac38;
	font-size:14px;
	line-height: 56px;
	margin-left: 17px;
	margin-right:12px;
}
.title #uls .re{
	float: left;
	font-size:14px;
	line-height: 56px;
	margin-left: 17px;
	margin-right:12px;
}
.title a{
	color: #333333;
	font-size: 14px;
	float: left;
	margin-right: 53px;
	line-height: 52px;
	margin-top:11px;
}
.title a:nth-of-type(1){
	margin:0;
}
.title #deng{
	margin-right: 20px;
}
.title #huabj{
	overflow: hidden;
	width:73px;
	height:34px;
	margin:21px 172px 0 15px;
	float: left;
	text-align: center;
}
.title #bj{
	color:#333333;
	font-size: 14px;
	width:73px;
	height:34px;
	line-height:34px;
	cursor:pointer;
}
.title a:hover{
	color: #39b34c;
}
.title .denglu{
	/*background: url(img/denglu.png) no-repeat left center;
	background-position: 0px 0px;*/
}
.title .span{
	display: block;
	color: #22ac36;
	margin-top:29px;
	float: right;
	font-size: 23px;
	line-height: 15px;
	font-weight: 600;
	border-left: 1px solid #333;
	padding-left:25px;
}

/*signIn*/
.signIn{
	width:100%;
	height:100%;
	background: #000;
	opacity: .8;
	position: absolute;
	left:0;
	top:0;
	display: none;
	z-index: 3;
}
.sign_box{
	width:794px;
	height: 424px;
	background: #fff;
	border:3px solid #d8dde5;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	display: none;
	z-index: 3;
}
.sign_box h3{
	font-size: 24px;
	font-weight: 100;
	color:#495056;
	text-align: center;
	margin-top:26px;
	margin-bottom:40px;
}
.sign_box .con{
	width:545px;
	margin:0 auto;
}
.sign_box .con .phoneNum{
	width:421px;
	height:42px;
	border:1px solid #bec6ce;
	border-radius: 3px;
	text-indent: 15px;
	margin-bottom: 12px;
}
.sign_box .con span{
	font-size: 16px;
	color:#495056;
	margin-right: 36px;
	margin-top:13px;
	float: left;
}
.sign_box .con .input2 span{
	margin-left:18px;
}
.sign_box .con .input2{
	overflow: hidden;
}
.sign_box .con .yan{
	float: left;
	width:262px;
	height:42px;
	border:1px solid #bec6ce;
	border-radius: 3px;
	text-indent: 15px;
}
.sign_box .con  .input2 a{
	float: left;
	margin-left:8px;
	width:150px;
	height: 44px;
	background: #22ac38;
	border-radius: 3px;
	text-align: center;
	line-height:42px;
	font-size: 16px;
	color:#fff;
}
.sign_box .con .input2 a:hover{
	background: #179500;
}
.sign_box .dl{
	display: block;
	width:410px;
	height: 50px;
	background: #22ac38;
	text-align: center;
	line-height: 50px;
	border-radius: 3px;
	font-size: 20px;
	color:#fff;
	margin:0 auto 20px;
}
.sign_box .mianf{
	font-size: 22px;
	color:#22ac38;
	text-align: center;
	margin-bottom: 8px;
}
.sign_box .last{
	font-size: 12px;
	color:#b7b7c0;
	text-align: center;
}
.sign_box .last span{
	color:#22ac38;
}
.sign_box .close{
	font-size: 40px;
	color:#bec6ce;
	position: absolute;
	right:20px;
	top:0px;
}
.sign_box .true{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #ff7e00;
}

/*fixed*/
.fix{
	width:40px;
	height:100%;
	background:#2a2c37;
	position: fixed;
	right:0px;
	top:0px;
}
.fix .fix1,.fix .fix2,.fix .fix3,.fix .fix4,.fix .fix5,.fix .fix6{
	width:40px;
	height:40px;
	background: url(../img/side-bar@2x.3cde37b723751598f4a9f2d8e95a43f7.png) no-repeat left top;
	background-size:250px 370px;
	cursor:pointer;
}
.fix .fix1{
	background-position: -53px 6px;
	margin-top:245px;
}
.fix .fix2{
	background-position: -53px -38px;
}
.fix .fix3{
	background-position: -53px -126px;
}
.fix .fix4{
	background-position: -53px -80px;
}

.fix .fix5{
	background-position: -53px -174px;
}
.fix .fix6{
	background-position: -53px -213px;
	display: none;
}
.fix .fix1:hover{
	background-color: #3f4251;
	background-position: 9.5px 6px;
}
.fix .fix2:hover{
	background-color: #3f4251;
	background-position: 9.5px -38px;
}
.fix .fix3:hover{
	background-color: #3f4251;
	background-position: 9.5px -126px;
}
.fix .fix4:hover{
	background-color: #3f4251;
	background-position: 9.5px -80px;
}
.fix .fix5:hover{
	background-color: #3f4251;
	background-position: 9.5px -174px;
}
.fix .fix6:hover{
	background-color: #3f4251;
	background-position: 9.5px -213px;
}

.fix .download1{
	width:240px;
	height:209px;
	background: #fff;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right:60px;
	top:165px;
	display: none;
}
.fix .download2{
	width:240px;
	height:209px;
	background: #fff;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right:60px;
	top:205px;
	display: none;
}
.fix .download1 img,.fix .download2 img{
	width:112px;
	height:112px;
	margin:30px auto 20px;
}
.fix span{
	font-size: 14px;
	color:#495056;
}
.fix .yjfk{
	width:136px;
	height:55px;
	background: #fff;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right:60px;
	top:328px;
	display: none;
}
.fix .yjfk span{
	line-height: 55px;
}
.fix .mfzx{
	width:264px;
	height:50px;
	background: #fff;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	text-align: center;
	z-index: 2;
	position: absolute;
	right:60px;
	top:358px;
	display: none;
}
.fix .mfzx span{
	line-height: 50px;
}
.fix .see{
	width:626px;
	height:565px;
	background: #f5f5f7;
	border-radius: 5px;
	box-shadow:0 0 4px 2px #dadce1;
	padding-top:35px;
	padding-left:25px;
	z-index: 2;
	position: absolute;
	right:60px;
	bottom:117px;
	display: none;
}
.fix .see h4{
	font-size: 20px;
	color:#495056;
	font-weight: 100;
	margin-bottom: 25px;
}
.see .li{
	width:285px;
	background: #fff;
	float: left;
	margin-right: 20px;
	padding-bottom: 25px;
	position: relative;
}
.see .li .tt{
	padding:0 20px;
}
.see .li:nth-of-type(4n){
	margin-right: 0;
}
.see .li img{
	width:285px;
	height:190px;
}
.see .li h5{
	font-size: 16px;
	line-height: 16px;
	font-weight: 100;
	color:#495056;
	margin-top: 24px;
	margin-bottom: 15px;
}
.see .li p{
	font-size: 14px;
	line-height: 14px;
	color:#a5abb2;
	margin-bottom: 14px;
}
.see .li span:nth-of-type(1){
	font-size: 16px;
	line-height: 16px;
	color:#f95523;
}
.see .li span:nth-of-type(2){
	font-size:14px;
	color:#a5abb2;
	text-decoration: line-through;
}
.see .mengb{
	width:290px;
	height:194px;
	background: black;
	opacity: .5;
	position: absolute;
	left:0px;
	top:0px;
}

/*nodes*/
.nodes{
	width:1200px;
	overflow: hidden;
	margin:0 auto;
}
.nodes .con a,.nodes .con span{
	float: left;
    line-height: 54px;
    font-size: 14px;
    color: #a5abb2;
}
.nodes .con a{
	color:#495056;
}
.nodes .con a:hover{
	color: #22ac36;
}
.nodes .con .input{
	float: right;
    width: 280px;
    height: 34px;
    margin-top: 10px;
}
.nodes .con .input{
    width: 280px;
    height: 54px;
    font-size: 14px;
    margin-top:0;
}
.nodes .con .input span{
    float: left;
    color: #495056;
    line-height: 54px;
}	
.nodes .con .input .findError{
	float: right;
	width:110px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	margin-top:13px;
    border:1px solid #e6e6e6;
}

/*content*/
.content{
	width:1200px;
	margin:0 auto;
	background:#fff;
	overflow: hidden;
}
.content .showImg{
	width:602px;
	float:left;
}
.content .showImg .bigImg{
	width:602px;
	height: 402px;
	margin-bottom:16px;
	background: url(../img/ef274190a17a2190fc6bb0ba0ae3d90d.jpg) no-repeat;
	background-size:cover;
	position: relative;
}
.content .showImg .bigImg .box1{
	width:150px;
	height: 110px;
	background:#000;
	position: absolute;
	left:0px;
	top:0px;
	opacity: .5;
	display: none;
}
.content .showImg .bigImg .box2{
	width:602px;
	height: 402px;
	background: url(../img/ef274190a17a2190fc6bb0ba0ae3d90d.jpg) no-repeat;
	background-size:1806px 1206px;
	position: absolute;
	left:612px;
	top:0px;
	display: none;
}
.content .showImg .imgs{
	width:100%;
	overflow: hidden;
}
.content .showImg .imgs .img{
	width:112px;
	height: 72px;
	border:1px solid #e9e9e9;
	float: left;
	margin-right:8px;
	background-size:cover;
}
.content .showImg .imgs .img:nth-of-type(5n){
	margin-right:0px;
}
.content .showImg .imgs .img1{
	background: url(../img/qn1809040111429364a332b3b98952bf8cd5122df2df8d.jpg) no-repeat;
}
.content .showImg .imgs .img2{
	background: url(../img/qn180903120117641ab3b2f203a13506da351f6cd916cd.jpg) no-repeat;
}
.content .showImg .imgs .img3{
	background: url(../img/qn180904052253394401f62b26085989c3977509ff1500.jpg) no-repeat;
}
.content .showImg .imgs .img4{
	background: url(../img/qn180903120117687725dc184750767dc65f51aa53f464.jpg) no-repeat;
}
.content .showImg .imgs .img5{
	background: url(../img/qn180903120117a80b37cb70d2d990cfb18d344aaac8c7.jpg) no-repeat;
}
.content .content_right{
	width:562px;
	float: right;
	padding-top:10px;
}
.content_right h4{
	font-size: 24px;
	line-height: 24px;
	color:#495056;
	font-weight: 100;
}
.content_right h4 span{
	display: inline-block;
	padding:0px 7px;
	font-size: 14px;
	color:#7a8396;
	border-radius: 2px;
	background: #f6f6f6;
	vertical-align: top;
}
.content_right .attr{
	overflow: hidden;
	margin-top:34px;
}
.content_right .attr li{
	float: left;
	font-size:12px;
	text-align: center;
	color:#a5abb2;
	padding-left:30px;
	padding-right:30px;
	border-right: 1px solid #e6e6e6;
}
.content_right .attr li:nth-of-type(5n){
	border-right: none;
}
.content_right .attr li span{
	display: block;
	font-size:18px;
	color:#495056;
	margin-bottom: 8px;
}

.content_right .cost{
	font-size: 14px;
	color:#495056;
	margin-top:24px;
	margin-bottom: 22px;
}
.content_right .cost .moy{
	font-size:28px;
	color:#f95523;
}
.content_right .cost .moy span{
	font-size:14px;
}
.content_right .cost .newCarMoy{
	color:#a5abb2;
	text-decoration:line-through;
}
.content_right .cost a{
	float: right;
	width:60px;
	height: 20px;
	text-align:center;
	line-height: 20px;
	background: #fff;
	border-radius: 15px;
	border:1px solid #fb997b;
	font-size: 12px;
	color:#fa5428;
	margin-top: 12px;
	margin-right: 20px;
}
.content_right .fuc{
    height: 104px;
    background: #f1f9ef;
    margin-bottom: 19px; 
	padding-top:9px;
	padding-left:21px;
}
.content_right .fuc .img{
	width:72px;
	height: 99px;
	float: left;
	background:url(../img/icon_pay.7e61ef6335d7e243dc088bf8e7403862.png) no-repeat;
	background-position:0px 0px;
}
.content_right .fuc .fucR{
	float: left;
	margin-left:22px;
}
.content_right .fuc .fucR .up{
	width:427px;
	height: 46px;
	color: #3bac38;
	font-size: 24px;
	border-bottom: 1px solid #d4efd6;
	cursor: pointer;
}
.content_right .fuc .fucR .up span{
	font-size:14px;
}
.content_right .fuc .fucR .up a{
	float: right;
	font-size: 14px;
	color: #3bac38;
}
.content_right .fuc .fucR .down{
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color:#061721;
	padding:14px 0 16px;
	cursor: pointer;
}
.content_right .fuc .fucR .down span{
	float: left;
	width:17px;
	height: 18px;
	margin-top: 2px;
	background: url(../img/icon-detail.fdf31f43395d6a5dc1c32e17fa001395.png) no-repeat;
	background-position:-394px -371px;
	margin-right:9px;
}
.content_right .fuc .fucR .down a{
	float: right;
	height: 20px;
	background: #fff;
	text-align:center;
	line-height: 20px;
	border-radius: 15px;
	border:1px solid #fb997b;
	font-size: 12px;
	padding:0 12px;
	color:#fa5428;
}

.content_right .service{
    background-color: #f6f6f6;
    color: #495056;
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 19px;
}
.content_right .service .tit{
	padding-left: 10px;
    height: 56px;
    line-height: 56px;
    padding-bottom: 4px;
}
.content_right .service .tit span{
	height: 16px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #2abd53;
    padding: 0 4px;
    background-color: #f6fcf7;
    color: #2abd53;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 12px;
    vertical-align: middle;
}
.content_right .service .tit a{
	font-size: 14px;
	color: #495056;
    float: right;
    padding-right: 20px;
    margin-top:8px;
}
.content_right .service .lis li{
	display: inline-block;
	padding-left: 22px;
}
.content_right .service .lis li:first-of-type{
	padding-left: 10px;
}
.content_right .service .lis li span{
	float: left;
	width:17px;
	height: 17px;
	margin-right: 5px;
	background: url(../img/icon-detail.fdf31f43395d6a5dc1c32e17fa001395.png) no-repeat;
	background-position:-94px -99px;);
}
.content_right .service .fwf{
	padding-left: 10px;
    padding-top: 19px; 
}
.content_right a{
	border-radius: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    vertical-align: top;
    color: #fff;
    margin-right: 16px;
}
.content_right .a1{	
    width: 174px;
    background: #fd6c34;
}
.content_right .a1:hover{
	background:#f95523;
}
.content_right .a2{	
	width: 172px;
    background:#2abd53;
}
.content_right .a2:hover{	
	width: 172px;
    background:#22ac38;
}
.content_right .a3{	
	width: 172px;
    height: 46px;
    line-height: 46px;
    background:#2abd53;
    border: 1px solid #2abd53;
    background-color: #f6fcf7;
    color: #2abd53;
    margin-right: 0;
}
.content_right .a3:hover{
	color:#22ac38;
}


/*show*/
.show{
	width:1200px;
	background: #fff;
	margin:0 auto;
	overflow: hidden;
	padding-bottom: 20px;
}
.show h3{
	height: 47px;
    line-height: 47px;
    font-size: 22px;
    font-weight: 100;
    color: #495056;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
}
.show p{
	text-align: center;
	margin-bottom: 20px;
}
.show .showLiwai{
	width:1200px;
	overflow: hidden;
}
.show .showLiwai li:nth-of-type(odd){
	width: 590px;
    height: 392px;
    float: left;
    margin-right: 8px;
    margin-bottom:16px;
}
.show .showLiwai li:nth-of-type(even){
	width: 590px;
    height: 392px;
    float: right;
    margin-left: 8px;
    margin-bottom:16px;
}
.show .showLiwai li img{
	width: 590px;
    height: 392px;
    border: 1px solid #e9e9e9;
    cursor: pointer;
}
.show .showLinei{
	width:1200px;
	overflow: hidden;
}
.show .showLinei li{
	width:285px;
	height: 190px;
	float: left;
	margin-right: 20px;
}
.show .showLinei li:nth-of-type(4n){
	margin-right: 0;
}
.show .showLinei li img{
	width:285px;
	height: 190px;
    border: 1px solid #e9e9e9;
    cursor: pointer;
}




/*footer*/
footer{
	background: #2a2c37;
	padding-top: 50px;
	padding-bottom: 32px;
	overflow: hidden;
}
footer .up{
	overflow: hidden;
}
footer .toum{
	margin-left: 153px;
	width:110px;
	height:90px;
	background: url(../img/global-3.bddc7dbcd1b47bf88946900826c9abf1.png);
	background-position: right 235px;
	float:left;
}
footer .zi1{
	float:left;
	padding-left:30px;
	
	line-height: 23px;
}
footer .zi1 p:nth-of-type(2){
	margin-bottom: 16px;
}
footer .zi1 p{
	font-size: 12px;
	color:#b8b8b8;
}
footer .zi1 p span{
	font-size: 13px;
	margin-right: 22px;
}
footer .vx img{
	width:85px;
	height:85px;
	margin-bottom:6px;
}
footer .app img{
	width:85px;
	height:85px;
	margin-bottom:6px;
}
footer .vx{
	float: left;
	margin-right: 30px;
	text-align: center;
	margin-left: 20px;
}
footer .app{
	float: left;
	text-align: center;
}
footer .vx span,footer .app span{
	font-size: 14px;
	color:#b8b8b8;
}
footer .zi2{
	float: left;
	padding-left: 49px;
	width:420px;
}
footer .zi2 a{
	font-size: 14px;
	color:#b8b8b8;
	margin-right: 10px;
	line-height: 22px;
}
footer .zi2 a:hover{
	text-decoration:underline;
}
footer .zi2 a:last-child img{
	wiath:18px;
	height:20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
footer .zi2 a:last-child{	
	color: #939393;
}
footer .zi2 p{
	font-size: 12px;
	color:#b8b8b8;
	line-height: 18px;
}
footer .zi2 .p1{
	margin-top: 13px;
}
footer .zi2 .p2{
	margin-bottom: 11px;
}
footer .zi2 a:last-child:hover{
	text-decoration: none;
}
footer .rem:first-of-type{
	margin-top: 47px;
}
footer .rem:last-of-type{
	margin-bottom: 33px;
}
footer .rem{
	line-height: 28px;
}
footer .rem span{
	font-size: 16px;
	color:#576660;
	margin-left: 117px;
}
footer .rem a{
	font-size: 12px;
	color:#576660;
	margin-right: 20px;
}
footer .rem a:hover{	
	text-decoration: underline;
}
footer .foot{
	width:861px;
	margin:31px auto 0;
	font-size: 12px;
	color:#576660;
}
footer .foot span:nth-of-type(2){
	margin:0 40px;
}